<div class="box">
    <h2 class="subtitle has-text-weight-bold">Create A Blog Post</h2>

    <form class="form">
        <div class="field">
            <label class="label">Title:</label>
            <div class="control">
                <input class="input" type="text" id="title-create" placeholder="Enter title">
            </div>
        </div>

        <div class="field">
            <label class="label" for="content-create">Content:</label>
            <textarea class="textarea" type="text" rows="10" id="content-create" placeholder="Description"></textarea>
        </div>
        <br>

        <div class="field">
            <a class="button is-info" id="create" type="click">
                Post Blog
            </a>
        </div>
    </form>
</div>

<script src="./js/create.js"></script>