<div class="row">
    <div class="card">
        <h2 class="card-header subtitle ml-2">Log In</h2>

        <form class="form login-form">
            <div class="form-group ml-4">
                <label for="email-login">Email:</label>
                <input class="form-input" type="email" id="email-login" />
            </div>
            <div class="form-group ml-4">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <br>
            <div class="form-group">
                <button class="button is-info ml-2 mb-2" type="submit">Log In</button>
            </div>
        </form>
    </div>
    <br>

    <div class="card">
        <h2 class="card-header subtitle ml-2">Sign Up</h2>

        <form class="form signup-form">
            <div class="form-group ml-4">
                <label for="name-signup">Name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group ml-4">
                <label for="email-signup">Email:</label>
                <input class="form-input" type="email" id="email-signup" />
            </div>
            <div class="form-group ml-4">
                <label for="password-signup">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <br>
            <div class="form-group">
                <button class="button is-info ml-2 mb-2" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>
